## Import libraries and Checking dataset

In [2]:
import pandas as pd
df= pd.read_csv('mldata.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

## Convert Gender into dummy values

In [3]:
df['gender'] = df['gender'].replace("Male", 1)
df['gender'] = df['gender'].replace("Female", 0)
df.head()

   age   height  weight  gender likeness
0   27  170.688    76.0       1  Biryani
1   41  165.000    70.0       1  Biryani
2   29  171.000    80.0       1  Biryani
3   27  173.000   102.0       1  Biryani
4   29  164.000    67.0       1  Biryani

## Selection of input and out variable

In [4]:
x=df[["age", "height", "weight", "gender"]]
y= df["likeness"]
x.head()

   age   height  weight  gender
0   27  170.688    76.0       1
1   41  165.000    70.0       1
2   29  171.000    80.0       1
3   27  173.000   102.0       1
4   29  164.000    67.0       1

## Prediction

In [5]:
# Machine learning algorithm
from sklearn.tree import DecisionTreeClassifier

# create and fit model
model= DecisionTreeClassifier().fit(x, y)

# prediction
model.predict([[61, 155.55, 65, 1]])

c:\Users\m s\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Samosa'], dtype=object)

## Train and fit your model and check accuracy

In [6]:
# split data into tran and test
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

x_train, x_test, y_train, y_test=train_test_split(x,y, test_size=1/5)
# create a model
model= DecisionTreeClassifier().fit(x_train, y_train)
predicted_values= model.predict(x_test)
predicted_values

# checking score
score= accuracy_score(y_test, predicted_values)
score

0.5102040816326531

## Train and save your model

In [7]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
model= DecisionTreeClassifier().fit(x, y)
import joblib
joblib.dump(model, 'foodie2.joblib')

['foodie2.joblib']

## Import saved model

In [8]:
# how to import/run a stored or saved model in a data
loaded_model = joblib.load('foodie2.joblib')
results= loaded_model.score(x, y)
results

0.9959183673469387

## Graph

In [9]:
# graph
from sklearn import tree
model=DecisionTreeClassifier().fit(x, y)
# graphviz evaluation/look into what happend
tree.export_graphviz(model, 
            out_file="foodie2.dot",
            feature_names=['age', 'gender','height', 'weight'],
            class_names = sorted(y.unique()),
            label='all',
            rounded= True,
            filled= True)